<app-account-details-profile-pic
  (imageFile)="onImageSelected($event)"
></app-account-details-profile-pic>
<app-account-details-form
  (accountDetailsFormSubmit)="onSubmit($event)"
></app-account-details-form>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-floating-message
  message="Could not update user"
  [show]="isError"
></app-floating-message>
<app-floating-message
  message="User updated successfully"
  [show]="isSuccess"
  [type]="MessageType.Success"
></app-floating-message>
