<form [formGroup]="accountDetailsForm" class="row g-4">
  <div class="personal-details">
    <h3>Personal Details</h3>
    <div class="row g-5 mb-2">
      <app-primary-form-input
        [formControl]="getFormControl('firstName')"
        [label]="'First Name'"
        [placeholder]="'First Name'"
        [required]="true"
        [isInvalid]="isInvalid(getFormControl('firstName'))"
        class="col-6"
      ></app-primary-form-input>
      <app-primary-form-input
        [formControl]="getFormControl('lastName')"
        [label]="'Last Name'"
        [placeholder]="'Last Name'"
        [required]="true"
        class="col-6"
        [isInvalid]="isInvalid(getFormControl('lastName'))"
      ></app-primary-form-input>
    </div>
    <div class="row g-5">
      <app-primary-form-input
        [formControl]="getFormControl('email')"
        [label]="'Email'"
        [placeholder]="'Email'"
        [required]="true"
        class="col-6"
      ></app-primary-form-input
      ><app-primary-form-input
        [formControl]="getFormControl('phoneNumber')"
        [label]="'Phone number'"
        [placeholder]="'Phone number'"
        class="col-6"
        [isInvalid]="isInvalid(getFormControl('phoneNumber'))"
      ></app-primary-form-input>
    </div>

    <div class="gender-container mt-3">
      <label for="gender">Gender</label>

      <div class="gender d-flex gap-4 mt-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="male"
            [value]="1"
            [formControl]="getFormControl('gender')"
          />
          <label class="form-check-label" for="male"> Male </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="female"
            [value]="2"
            [formControl]="getFormControl('gender')"
          />
          <label class="form-check-label" for="female"> Female </label>
        </div>
      </div>
    </div>
  </div>
  <div class="address-details">
    <h3>Address Details</h3>
    <div class="row g-5 mb-2">
      <app-primary-form-input
        [formControl]="getFormControl('city')"
        [label]="'City'"
        [placeholder]="'City'"
        class="col-6"
      ></app-primary-form-input>
      <app-primary-form-input
        [formControl]="getFormControl('street')"
        [label]="'Street'"
        [placeholder]="'Street'"
        class="col-6"
      ></app-primary-form-input>
    </div>
    <app-primary-form-input
      [formControl]="getFormControl('address')"
      [label]="'Address'"
      [placeholder]="'Address'"
    ></app-primary-form-input>
  </div>
  <app-primary-button (onClickChange)="onSubmit()"></app-primary-button>
</form>
