* {
    padding: 0;
    margin: 0;
}

input {
    border-radius: 5px;
    border: 2px solid var(--dark-grey);
    padding: 10px;
    display: block;
}

label {
    color: var(--label-color);
    margin-bottom: 5px;
}

.required {
    color: red;
}

.is-invalid {
    border: 1px solid red !important;
}