
<div class="cart-container container-lg my-4 py-4">
    <div *ngIf="loading" class="loader-container">
    <div class="loader w-25"></div>
  </div>

  <div class="cart-products" >
    <h2 class="cart-title"> <span class="material-icons">shopping_cart</span>Your Shopping Cart <span class="num">{{getTotalQuantity() }}  ITEMS</span></h2>

<div *ngIf="!loading && cartItem.length === 0" class="empty">
      <app-empty-data [title]="'No Items'" subtitle="'your cart is empty'"></app-empty-data>
    </div>

    <div *ngFor="let item of cartItem" class="cart-item">
      <img [src]="item.image" alt="product image" />
      <div class="item-details">
        <h3 class="item-title">{{ item.title }}</h3>
                <p class="item-price">
          <span *ngIf="item.offerPrice" class="discounted">{{ item.offerPrice }} EGP</span>
          <span *ngIf="!item.offerPrice">{{ item.price }} EGP</span>
          <span *ngIf="item.offerPrice" class="original">{{ item.price }} EGP</span>
        </p>

        <div class="item-actions">
          <button class="qty-decrease" [disabled]="item.quantity <= 1" (click)="updateQuantity(item.variantId, item.productId, item.quantity - 1)">-</button>
          <span class="item-quantity">{{ item.quantity }}</span>
          <button class="qty-increase" (click)="updateQuantity(item.variantId, item.productId, item.quantity + 1)">+</button>
          <button class="remove-btn" (click)="removeItem(item.variantId)">Remove</button>
        </div>
      </div>
      <div class="item-price-section">
        <p class="item-total">{{ sellingPrice(item) * item.quantity }} EGP</p>
      </div>
    </div>
<div *ngIf="cartItem.length > 0" class="clear-cart-container">
  <button class="clear-cart-btn" (click)="clearCart()"><span class="material-icons">delete</span>
 Clear Cart</button>
</div>

  </div>


  <div class="order-summary" *ngIf="cartItem.length > 0">
    <h3>Order Summary</h3>
    <div class="order-row"><span>Price</span><span>{{ totalAmount }}EGP</span></div>
<div class="order-row">
  <span>Discount</span>
  <span>{{ discount  }}EGP</span>
</div>
    <div class="order-row"><span>Shipping</span><span class="green">Free</span></div>
    <div class="order-row" ><span>Coupon</span><span>0.00</span></div>
    <div class="order-total"><span>Total</span><span>{{ totalPrice  }}EGP</span></div>
    <input type="text"  placeholder="Coupon Code" disabled class="coupon-input"/>
    <app-primary-button [text]="'Proceed to Checkout'" [col]="'col-12'" (click)="checkout()"></app-primary-button>
    <p class="discount-note">10% instant discount  with Federal Bank Debit up of 150$
</p>
  </div>
</div>
