<footer class="site-footer">
  <div class="footer-main">
    <div class="footer-section logo-social">
      <div class="footer-logo-row">
        <img src="../../../assets/images/logo2.png" alt="logo" class="footer-logo" />
        <span class="footer-logo-text">Furmaster</span>
      </div>
      <p> Lorem ipsum amet adipiscing elit to eiusmod ad tempor. </p>
      <div class="footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-xing"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-section">
      <h4>Categories</h4>
      <ul>
        <li><a href="#">Bed room</a></li>
        <li><a href="#">Living room</a></li>
        <li><a href="#">Lightning</a></li>
        <li><a href="#">Fabrics sofa</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Information</h4>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Payment</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Account</h4>
      <ul>
        <li><a href="#">My account</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Checkout</a></li>
        <li><a href="#">My wishlists</a></li>
      </ul>
    </div>
    <div class="footer-section newsletter">
      <h4>Newsletter</h4>
      <p>Get everything you need succeed!</p>
      <form class="newsletter-form">
        <input type="email" placeholder="Enter your email" />
        <button type="submit"><i class="fa fa-envelope"></i></button>
      </form>
      <div class="footer-payments">
        <i class="fa fa-cc-visa"></i>
        <i class="fa fa-cc-paypal"></i>
        <i class="fa fa-cc-mastercard"></i>
        <i class="fa fa-cc-amex"></i>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <span>This site is protected by reCAPTCHA and the Google <a href="#">privacy policy</a> and terms of service apply.</span><br />
      <span>&copy; 2025 Crafto is Proudly Powered by <a href="#">ThemeZaa</a></span>
    </div>
    <div class="footer-bottom-right">
      <div class="footer-support">
        <span>Need support?</span><br />
        <a href="tel:+12345678910">+1 234 567 8910</a>
      </div>
      <div class="footer-care">
        <span>Customer care</span><br />
        <a href="mailto:info&#64;domain.com">info&#64;domain.com</a>
      </div>
    </div>
  </div>
</footer> 