<div class="top-bar">
  <span>Free Delivery on orders over $120. Don't miss discount. <a href="#">Shop now</a></span>
</div>
<header class="site-header">
  <div class="header-inner">
    <div class="header-left"> 
      <a routerLink="/">
        
      <img src="../../assets/images/logo2.png" alt="logo" class="logo-img" />
      </a>
      <span class="logo-text">Furmaster</span>
    </div>
    <nav class="main-nav">
      <a routerLink="/">Home</a>
      <a routerLink="/shop">Shop <span class="badge-hot">HOT</span></a>
      <a routerLink="/collections">Collections</a>
    </nav>
    <div class="header-right">
      <a routerLink="#" title="Search"><i class="fa fa-search"></i></a>
      <a routerLink="#" title="Cart"><i class="fa fa-shopping-cart"></i></a>
      <a routerLink="#" title="Account"><i class="fa fa-user"></i></a>
    </div>
  </div>
</header> 