<header class="site-header">
  <div class="header-inner">
    <div class="header-left">
      <div class="logo d-flex align-content-center">
        <div>
          <img src="../../../assets/images/logo2.png" alt="logo" class="logo-icon" />
 
        </div>
        <a routerLinkl="/" class="logo-title">Furmaster</a>
      </div>
    </div>
    <nav class="main-nav">
      <a routerLink="/" class="header-title">Home</a>
      <a routerLink="/products" class="header-title">Shop <span class="badge-hot">HOT</span></a>
      <a routerLink="/categories" class="header-title">Categories</a>
    </nav>
    <div class="header-right">
      <a routerLink="/products" title="Search"><i class="fa fa-search"></i></a>
      <a routerLink="/cart" title="Cart"><i class="fa fa-shopping-cart"></i></a>
      <a routerLink="/my-account" title="Account"><i class="fa fa-user"></i></a>
    </div>
  </div>
</header> 
