<div class="auth-wrapper">
  <!-- Left Side: Image and Logo -->
  <div class="auth-left">
    <img src="../../../../../assets/icons/Paste image.svg" alt="Signup Image" />
    <h1 class="logo">FurMaster</h1>
  </div>

  <!-- Right Side: Form -->
  <div class="auth-right">
    <div class="form-container container-fluid">
      <h2>Sign up</h2>
      <p class="subtext">
        Already have an account?
        <span class="link" [routerLink]="['/login']">Login</span>
      </p>

      <form [formGroup]="signupForm">
        <ng-container *ngFor="let field of formFields">
          <div class="form-item">
            <app-primary-form-input
              [label]="field.label"
              [type]="field.type"
              [placeholder]="field.placeholder"
              [required]="true"
              [isInvalid]="isInvalid(signupForm.controls[field.name])"
              [formControlName]="field.name"
            >
            </app-primary-form-input>
            <p *ngIf="isInvalid(signupForm.controls[field.name])" class="error-message">
              {{ field.error }}
            </p>
          </div>
        </ng-container>

        <!-- Gender -->
        <div class="form-item">
          <label style="font-weight: 600; display: block; margin-bottom: 8px"
            >Gender</label
          >
          <div class="gender-radio">
            <label
              ><input type="radio" formControlName="gender" [value]="0" />
              Male</label
            >
            <label
              ><input type="radio" formControlName="gender" [value]="1" />
              Female</label
            >
          </div>
          <div
            *ngIf="
              formControls['gender']?.invalid && formControls['gender']?.touched
            "
            class="error-message"
          >
            Gender is required
          </div>
        </div>

        <app-primary-button
          (onClickChange)="onSubmit()"
          [col]="'col-12'"
        ></app-primary-button>

        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
</div>
