<div class="auth-wrapper">
  <div class="auth-left">
    <img
      src="../../../../../assets/icons/Paste image.svg"
      alt="Reset Password Image"
    />
    <h1 class="logo">FurMaster</h1>
  </div>

  <div class="auth-right">
    <div class="form-container">
      <h2>Reset Password</h2>
      <p class="subtext">
        OTP sent to: *********<strong>{{ lastTwoNumbersOfPhoneNumber }}</strong>
      </p>

      <form [formGroup]="resetForm">
        <div class="form-item">
          <app-primary-form-input
            label="OTP Code"
            type="number"
            placeholder="Enter the code"
            [required]="true"
            [isInvalid]="
              formControls['userOtp'].invalid && formControls['userOtp'].touched
            "
            formControlName="userOtp"
          >
          </app-primary-form-input>
        </div>

        <div class="form-item">
          <app-primary-form-input
            label="New Password"
            type="password"
            placeholder="Enter your new password"
            [required]="true"
            [isInvalid]="
              formControls['password'].invalid &&
              formControls['password'].touched
            "
            formControlName="password"
          >
          </app-primary-form-input>
        </div>
        <app-primary-button
          text="Reset Password"
          [col]="'col-12'"
          (onClickChange)="onSubmit()"
        ></app-primary-button>

        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <p *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </p>
      </form>
    </div>
  </div>
</div>
