.row-container {
    padding: 16px 16px;
    background-color: white;
    border-bottom: 1px solid var(--dark-grey);
    display: flex;
    align-items: center;
    margin: 0;
}

.row-container p {
    padding-left: 12;
    margin: 0;
}