* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-container {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px 0;
    width: 100%;
}

.error-content {
    text-align: center;
    background: #ffffff;
    border-radius: 12px;
}



img {
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
}