
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 24px auto;
  box-sizing: border-box;
  padding: 12px;
  align-items: center;
  gap: 16px;
  padding: 12px;
}
.material-icons{
  color:  var(--primary-color);
}
h2  {
  margin-left:0;
    color:  var(--primary-color);
}
.date-range-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 120px;
}
.empty-orders{
  margin-left: 25%;
}
.date-range-column input[type="date"] {
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
}
.date-filters {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.date-filters label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #333;
}
.date-group {
  display: flex;
  align-items: center;
  gap: 6px;
}
.date-group span {
  font-size: 0.9rem;
  color: #333;
  white-space: nowrap;
}
.date-group input[type="date"] {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: border-color 0.3s ease;
}


@media (max-width: 992px) {
  .filters {
    justify-content: center;
    margin-left: 0;
  }
 .empty-orders{
  margin-left: 0%;
}
}

@media (max-width: 576px) {
  .filters {
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }
.date-group {
    flex-direction: column;
    align-items: flex-start;
  }
   .empty-orders{
  margin-left: 0%;
}
}
@media (min-width: 993px) {
  .to-date-group {
    margin-left: 0;
  }
}
