<section class="totals-section flex-column flex-md-row">
  <div class="total-card d-flex gap-2 align-content-center p-4 rounded-4">
    <div class="">
      <p class="font-bold text-xl m-0">Total Orders</p>
      <p class="text-gray-500">Last 7 days</p>
      <p class="font-bold text-xl mt-2">
        {{ (totalOrdersStatistics?.ordersCount ?? 0 )+" Orders" }}
      </p>
      <div
        class="d-flex align-content-center"
        [ngStyle]="{
          color:
            (totalOrdersStatistics?.percentageChange ?? 0) > 0
              ? '#00e396'
              : '#d02626'
        }"
      >
        <i class="material-icons text-md mr-1">{{
          (totalOrdersStatistics?.percentageChange ?? 0) > 0
            ? "arrow_upward"
            : "arrow_downward"
        }}</i>
        <p
          [ngStyle]="{
            color:
              (totalOrdersStatistics?.percentageChange ?? 0) > 0
                ? '#00e396'
                : '#d02626'
          }"
        >
          {{ (totalOrdersStatistics?.percentageChange ?? 0) + "%" }}
        </p>
      </div>
    </div>
    <apx-chart
      [series]="totalOrdersChartOptions.series!"
      [chart]="totalOrdersChartOptions.chart!"
      [xaxis]="totalOrdersChartOptions.xaxis!"
      [stroke]="totalOrdersChartOptions.stroke!"
      [tooltip]="totalOrdersChartOptions.tooltip!"
      [dataLabels]="totalOrdersChartOptions.dataLabels!"
      [colors]="
        (totalOrdersStatistics?.percentageChange ?? 0) > 0
          ? ['#00e396']
          : ['#d02626']
      "
    ></apx-chart>
  </div>
  <div class="total-card d-flex gap-2 align-content-center p-4 rounded-4">
    <div class="">
      <p class="font-bold text-xl m-0">Total Orders Amount</p>
      <p class="text-gray-500">Last 7 days</p>
      <p class="font-bold text-xl mt-2">
        {{ (totalOrdersAmountStatistics?.totalAmount ?? 0) + " " + currency }}
      </p>
      <div
        class="d-flex align-content-center"
        [ngStyle]="{
          color:
            (totalOrdersAmountStatistics?.percentageChange ?? 0) > 0
              ? '#00e396'
              : '#d02626'
        }"
      >
        <i class="material-icons text-md mr-1">{{
          (totalOrdersAmountStatistics?.percentageChange ?? 0) > 0
            ? "arrow_upward"
            : "arrow_downward"
        }}</i>
        <p
          [ngStyle]="{
            color:
              (totalOrdersAmountStatistics?.percentageChange ?? 0) > 0
                ? '#00e396'
                : '#d02626'
          }"
        >
          {{ (totalOrdersAmountStatistics?.percentageChange ?? 0) + "%" }}
        </p>
      </div>
    </div>
    <apx-chart
      [series]="totalOrdersAmountChartOptions.series!"
      [chart]="totalOrdersAmountChartOptions.chart!"
      [xaxis]="totalOrdersAmountChartOptions.xaxis!"
      [stroke]="totalOrdersAmountChartOptions.stroke!"
      [tooltip]="totalOrdersAmountChartOptions.tooltip!"
      [dataLabels]="totalOrdersAmountChartOptions.dataLabels!"
      [colors]="
        (totalOrdersAmountStatistics?.percentageChange ?? 0) > 0
          ? ['#00e396']
          : ['#d02626']
      "
    ></apx-chart>
  </div>
</section>
