.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 86%; */
}

.user-cell img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-right: 10px;

}

.product-category {
    color: var(--label-color);
}

.rating p {
    min-width: 70px;
}

.rating i {
    color: #FFD700;
    padding-left: 5px;
}

.out-of-stock {
    background-color: #ffdcdc;
    color: #ff0000;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 14px;
    width: fit-content;
}
app-primary-table-row{
    font-size: 14px;
}
.color-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.product-title{
    font-size: 14px;
    font-weight: 600;
}