ul a {
    cursor: pointer;

}

ul a:active {
    background-color: var(--primary-color);
    color: white;

}

.dropdown {
    margin-left: 20px;
}

.primary-dropdown-button {
    background-color: white;
    color: var(--dark-label-color);
    border: none;
    padding: 16px 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--admin-shadow);

}