:root {
    --primary-color: #16202c;
    --secondary-color: #f99500;
    --grey: #f7f7f7;
    --dark-grey: #e4e4e4;
    --label-color: #888e95;
    --admin-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

* {
    list-style: none;
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

body {
    background-color: #fafafa !important;
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 60px;
    aspect-ratio: 2;
    border-bottom: 3px solid #0000;
    background:
        linear-gradient(90deg, #524656 50%, #0000 0) -25% 100%/50% 3px repeat-x border-box;
    position: relative;
    animation: l3-0 .75s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    inset: auto 42.5% 0;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary-color);
    animation: l3-1 .75s cubic-bezier(0, 900, 1, 900) infinite;
}

@keyframes l3-0 {
    to {
        background-position: -125% 100%
    }
}

@keyframes l3-1 {

    0%,
    2% {
        bottom: 0%
    }

    98%,
    to {
        bottom: .1%
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
