<div class="auth-wrapper">
  <div class="auth-left">
    <img src="../../../../../assets/icons/Paste image.svg" alt="Reset Password Image" />
    <h1 class="logo">3legant.</h1>
  </div>

  <div class="auth-right">
    <div class="form-container">
      <h2>Forgot Password</h2>
      <p class="subtext">Enter your email address to receive a reset code.</p>

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-item">
          <app-primary-form-input
            label="Email"
            type="email"
            placeholder="Enter your email"
            [required]="true"
            [isInvalid]="formControls['email'].invalid && formControls['email'].touched"
            formControlName="email">
          </app-primary-form-input>
        </div>

        <button type="submit">Send OTP</button>

        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
      </form>
    </div>
  </div>
</div>
