.wrapper-container {
    /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */

    text-align: center;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 20px;
}


.empty-data-img {
    /* margin-bottom: 200px; */
    opacity: 0.8;
    height: 180px;
    width: 180px;
}

.wrapper-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.wrapper-container p {
    font-size: 14px;
    color: #777;
}